{
    "presets": [
        "@babel/env",
        "@babel/react",
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import"
        // [
        //     "import",
        //     {
        //         "libraryName": "antd",
        //         "style": true
        //     },
        // "syntax-dynamic-import"
        // ],
        // "transform-decorators-legacy"
    ]
}
