
  {
    "presets": [
      "react", "stage-0" ,
      ["env", {
        "targets": {
          "node": "current"
        }
      }],
     [
      "env",{
        "development": {
          "presets": ["react-hmre"]
        }
      }
     ]
    ]
  }
  